/*
Loader
 */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    /*margin: -75px 0 0 -75px;*/
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    /*width: 120px;*/
    /*height: 120px;*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
Head background
 */
body{
    /*background-color: white;*/
    background-image: linear-gradient(rgba(200,200,200,.5),rgba(100,100,100,.5)), url('../../images/bg34.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

h2{
    font-family:  'PT Sans', Sans-Serif;
    font-size: 25px;
}
h4{
    font-family:  'PT Sans', Sans-Serif;
    font-size: 18px;
}
small{
    font-family:  'Bitter', Serif;
    font-size: 12px;
}

#home_page_form{
    background: linear-gradient(rgba(200,200,200,.3),rgba(100,100,100,.3)), url('../../images/traveling-tradie-1.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 30em;
    color: black;
    margin: auto;
    margin-bottom: 1em;
    width: 80%;

}

/*
Title/Description
 */


#home_page_title{


    font-size: 3em;

    font-family: 'Lobster', cursive;

}

#home_page_description{
    font-family: 'Lobster', cursive;

    font-size: 1em;
}
/*
    Form
 */
#signin-password{
    width: 15em;

    height: 3em;
    margin: auto;
    margin-top: 4px;

}

#signin-username{
    height: 3em;
    margin: auto;

    width: 15em;


}

#btn-sign-in{
    height: 3em;

    width: 7em;

    margin-top: 8px;

}

#btn-sign-up{
    width: 7em;

    height: 3em;

    margin-top: 9px;

}

#signin-text{
    font-family: 'Lobster', cursive;

    padding-right: 14px;

    line-height: 44px;

    font-size: 2em;
}
.forgot-link-font
{
    color: #ffffff;
    text-transform: capitalize;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    padding-left: 7em;

    padding-top: 5px;
    font-family: 'Lobster', cursive;
}
#home_page_form{

    top: 2em;

    position: relative;

}

/*
Data
 */


.rest-curr-item-img-sec .rest-curr-item-img{
    width: 200px;
    height: 150px;
}

.vac-curr-item-img-sec .vac-curr-item-img{
    width: 200px;
    height: 150px;
}

.vac_col{
    padding-left: 1em;
    padding-right: 1em;
}

#home_sec_curr{
/*    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/hide-obara-2034.jpg');
    !*background-image: url("../images/map-img-01.jpg") ;*!
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;*/
    background:#7f7f7f;
    background:rgba(255, 255, 255,0.9);
    height: 150em;
    color: black;
    padding-left:2em;
    margin-bottom: 1em;
    margin-top:-1em;
    width: 80%;
    margin:auto;

}

#home_sec_la{
/*    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/LA 7.jpg');
    !*background-image: url("../images/map-img-01.jpg") ;*!
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;*/
    background:#7f7f7f;
    background:rgba(255, 255, 255,0.9);
    height: 150em;
    color: black;
    padding-left:2em;
    margin-bottom: 1em;
    margin-top:-1em;
    width: 80%;
    margin:auto;

}

#home_sec_ny{
/*    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/new york 3.jpg');
    !*background-image: url("../images/map-img-01.jpg") ;*!
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;*/
    background:#7f7f7f;
    background:rgba(255, 255, 255,0.9);
    height: 150em;
    color: black;;
    padding-left:2em;
    margin-bottom: 1em;
    width: 80%;
    margin:auto;

}

/*.section_head{
    padding-left: .5em;
}*/

.rest-curr-item-name{
    /*text-overflow: ellipsis;*/
    /*width: 200px;*/
    /*font-size: 24px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}
.rest-curr-item-type-sec{
    /*text-overflow: ellipsis;*/
    /*width: 100px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*float: right;*/
    /*margin: -7em 16em 5em 011em;*/
    /*display: none;*/
    /*font-size: 18px;*/
}
.rest-curr-item-prc-sec{
    /*display: inline;*/
    /*float: right;*/
    /*margin: -5em 16em 5em 15em;*/
    /*font-size: 18px;*/
}

.rest-curr-item-detail-btn{
    margin-top: 1em;
    /*float: right;*/
    /*margin: -4em 16em 6em -4em;*/
}

.vac-curr-item-head{
    /*text-overflow: ellipsis;*/
    /*width: 100px;*/
    /*font-size: 20px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}

.vac-curr-item-rev-sec{
    /*display: none;*/
    /*font-size: 16px;*/
}
.vac-curr-item-prc-sec{
    /*text-overflow: ellipsis;*/
    /*width: 100px;*/
    /*font-size: 16px;*/

    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*display: none;*/
}

.rest-curr-head-text{
    /*font-size: 2em;*/
    margin-left: .5em;
}

.vac-curr-head-text{
    /*font-size: 2em;*/
    margin-left: .5em;


}


.vac-curr-item-price-head{
    font-weight: normal;
}
.vac-curr-item-detail-btn{
    margin-top: 1em;

}

#home_crime_head{
    text-overflow: ellipsis;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
}

/*
Footer
 */
