/*
Loader
 */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    /*margin: -75px 0 0 -75px;*/
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    /*width: 120px;*/
    /*height: 120px;*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
Head background
 */
body{
    background-color: darkslategray;
}

.jumbotron{
    background: linear-gradient(rgba(200,200,200,.3),rgba(100,100,100,.8)), url('../../images/hawaii2.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 40em;
    color: white;

}

/*
Title/Description
 */


#home_page_title{


    font-size: 10em;

    font-family: 'Lobster', cursive;

}

#home_page_description{
    font-family: 'Lobster', cursive;

    font-size: 3em;
}
/*
    Form
 */
#signin-password{
    width: 20em;

    height: 3em;

    margin-top: 7px;

}

#signin-username{
    height: 3em;

    width: 20em;


}

#btn-sign-in{
    height: 3em;

    width: 7em;

    margin-top: 8px;

}

#btn-sign-up{
    width: 7em;

    height: 3em;

    margin-top: 9px;

}

#signin-text{
    font-family: 'Lobster', cursive;

    padding-right: 14px;

    line-height: 44px;

    font-size: 2em;
}
.forgot-link-font
{
    color: #ffffff;
    text-transform: capitalize;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    padding-left: 53em;

    padding-top: 5px;
    font-family: 'Lobster', cursive;
}
#home_page_form{

    top: 4em;

    position: relative;

}

/*
Data
 */


.rest-curr-item-img-sec .rest-curr-item-img{
    width: 100px;
    height: 80px;
}

.vac-curr-item-img-sec .vac-curr-item-img{
    width: 100px;
    height: 80px;
}

.vac_col{
    padding-left: 1em;
    padding-right: 1em;
}

#home_sec_curr{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/hide-obara-2034.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 20em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;
    margin-top:-1em;

}

#home_sec_la{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/LA 7.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 20em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;

}

#home_sec_ny{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../../images/new york 3.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 20em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;

}

/*.section_head{
    padding-left: .5em;
}*/

.rest-curr-item-name{
    text-overflow: ellipsis;
    width: 100px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.rest-curr-item-type-sec{
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}
.rest-curr-item-prc-sec{
    display: none;
}

.vac-curr-item-head{
    text-overflow: ellipsis;
    width: 100px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.vac-curr-item-rev-sec{
    display: none;
}
.vac-curr-item-prc-sec{
    text-overflow: ellipsis;
    width: 100px;

    /*white-space: nowrap;*/
    overflow: hidden;
    display: none;
}

.rest-curr-head-text{
    font-size: 1.5em;
    margin-left: .5em;
}

.vac-curr-head-text{
    font-size: 1.5em;
    margin-left: .5em;


}

.rest-curr-item-detail-btn{
    margin-top: 1em;
}
.vac-curr-item-price-head{
    font-weight: normal;
}
.vac-curr-item-detail-btn{
    margin-top: 1em;

}

#home_crime_head{
    text-overflow: ellipsis;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
}

/*
Footer
 */
