body{
    background: /*linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)),*/ url('../images/reg-01.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    /*background-repeat: no-repeat;*/
    background-size:cover;
    /*background-position:center;*/
    /*background-size:100%;*/
}

#edit-head-sec{
    margin-bottom: 1em;
}

#edit-sec{
    margin-top: 10em;
    text-align: center;

    margin-right: 10em;

    margin-left: 10em;
}

.row{
    background: /*linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)),*/ url('../images/reg-02.jpg');
    color: white;

    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
}