/*
Head background
 */
body{
    background: linear-gradient(rgba(200,200,200,.3),rgba(100,100,100,.8)), url('../images/img-splash.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
    /*background-position:center;*/
    /*background-size:100%;*/
    /*background: linear-gradient(rgba(200,200,200,.3),rgba(100,100,100,.8)), url('../../images/hawaii2.jpg');*/
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.head-title{
    height: 20em;
    color: white;
}
#home_page_title{


    font-size: 8em;

    font-family: 'Lobster', cursive;

}
#home_page_description
{
    font-size: 2em;
    font-family: 'Lobster', cursive;
}
/*
Title/Description
 */

#splash-det-sec{
    margin: auto;
    /*margin-right: 10em;*/
    /*margin-left: 20em;*/
    /*width: 40em;*/

    /*text-align: center;*/
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
    border: dotted;
    padding-left:1em;
    padding-top:1em;
    padding-bottom: 1em;
    padding-right: 1em;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.2em;
}

#ol_1, #ol_2, #ol_3, #ol_4, #ol_7, #ol_9, #ol_10{
    margin-left: -1.2em;
    padding-top: .5em;
}

#ol_5, #ol_6
{
    margin-left: -2em;
}


/*#row_6{*/
    /*padding-top: 1em;*/
/*}*/
/*
Footer
 */
