/*
Head background
 */
body{
    background-color: darkslategray;
}

.jumbotron{
    background: linear-gradient(rgba(200,200,200,.3),rgba(100,100,100,.8)), url('../images/hawaii2.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 40em;
    color: white;

}

/*
Title/Description
 */


#home_page_title{


    font-size: 10em;

    font-family: 'Lobster', cursive;

}

#home_page_description{
    font-family: 'Lobster', cursive;

    font-size: 3em;
}
/*
    Form
 */
#signin-password{
    width: 20em;

    height: 3em;

    margin-top: 7px;

}

#signin-username{
    height: 3em;

    width: 20em;


}

#btn-sign-in{
    height: 3em;

    width: 7em;

    margin-top: 8px;

}

#btn-sign-up{
    width: 7em;

    height: 3em;

    margin-top: 9px;

}

#signin-text{
    font-family: 'Lobster', cursive;

    padding-right: 14px;

    line-height: 44px;

    font-size: 2em;
}
.forgot-link-font
{
    color: #ffffff;
    text-transform: capitalize;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    padding-left: 53em;

padding-top: 5px;
    font-family: 'Lobster', cursive;
}
#home_page_form{

    top: 4em;

    position: relative;

}



/*
Data
 */

#home_sec_curr{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../images/hide-obara-2034.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 30em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;
    margin-top:-1em;

}

#home_sec_la{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../images/LA 7.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 30em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;

}

#home_sec_ny{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../images/new york 3.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 30em;
    color: white;
    padding-left:2em;
    margin-bottom: 1em;

}

.section_head{
    padding-left: .5em;
}

.rest-curr-item-name{
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.vac-curr-item-head{
    text-overflow: ellipsis;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
}
#home_crime_head{
    text-overflow: ellipsis;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
}


.rest-curr-head-text{
    font-size: 2.5em;
}


.vac-curr-head-text{
    font-size: 2.5em;

}

/*
Footer
 */
