body{
    background: linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)), url('../images/hd-pics-photos-travel-beautiful-places-best-world-tour-desktop-background-wallpaper.jpg');
    /*background-image: url("../images/map-img-01.jpg") ;*/
    /*background-repeat: no-repeat;*/
    background-size:cover;
    /*background-position:center;*/
    /*background-size:100%;*/
}

#res-head-sec{
    margin-bottom: 1em;
}

#reset-sec{
    margin-top: 10em;
    margin-right: 10em;
    margin-left: 20em;
    width: 40em;

    text-align: center;
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
}
.row{
    /*background: !*linear-gradient(rgba(200,200,200,.3),rgba(200,200,200,.8)),*! url('../images/reg-02.jpg');*/
    /*color: white;*/

    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
}