#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*
Head background
 */
body{
    background-color: lightgrey;
}

#splash-head-sec{
    background: linear-gradient(rgba(100,100,100,.3),rgba(100,100,100,.3)), url('../../images/Tibets-Yamdroktso-Lake-Listed-in-National-Pilot-Project.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-size:100%;
    height: 30em;
    color: white;
    /*background:white;*/
    /*background:rgba(255,255,255,0.5);*/
    margin: auto;
    margin-bottom: .1em;
    /*color: white;;*/
    /*width:100%;*/
    padding-top: 2em;
}

/*
Title/Description
 */
#idx_page_title{
    font-size: 12em;
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    text-shadow: 7px 7px lightgrey;

}

#idx_page_description{
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    font-size: 4em;
}


#splash-button-sec{
    height: 15em;
    /*width:100%;*/
    /*color: darkslategray;*/
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
    background-color: white;
    margin: auto;
    /*margin-bottom: .1em;*/
    width:100%;
}

.button {
    background-color:  #99adff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    width: 10em;
    height: 3em;
    /*box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2), 0 1em 3em 0 rgba(0,0,0,0.19);*/
    border-radius: 1em;
    font-family: 'Quicksand', sans-serif;;
    /*vertical-align: middle;*/
}

#btn-sign-in{
    margin:auto;
    /*margin-left: 1em;*/
    /*margin-bottom: 1em;*/

}

#btn-sign-up{
    margin-right: 1em;
    /*margin-bottom: 1em;*/

}

#idx_page_form{

    top: 4em;

    position: relative;

}

#splash-about-sec
{
    height: 30em;
    width:100%;
    color: darkslategray;
    background-color: white;
    margin: auto;
    margin-top: .1em;
}
#splash-about-head-text{
    font-size: 3em;
    padding-top: 1em;
}
#splash-about-img-col{
    text-align: center;
}
#splash-about-img{
    height: 300px;
    width: 300px;
    margin-top:-3em;
}
#splash-about-text-col{
    text-align: left;
    padding-top: 1em;
    font-size: 2em;
    font-family:'Quicksand', sans-serif;
}



#splash-travel-sec
{
    height: 30em;
    width:100%;
    color: darkslategray;
    background-color: white;
    margin: auto;
    margin-top: .1em;
}
#splash-travel-head-text{
    font-size: 3em;
    padding-top: 1em;
}
#splash-travel-img-col{
    text-align: center;
}
#splash-travel-img{
    height: 300px;
    width: 300px;
    margin-top:-3em;
}
#splash-travel-text-col{
    text-align: left;
    padding-top: 1em;
    font-size: 2em;
    font-family:'Quicksand', sans-serif;
}




#splash-eat-sec
{
    height: 40em;
    width:100%;
    color: darkslategray;
    background-color: white;
    margin: auto;
    margin-top: .1em;
}
#splash-eat-head-text{
    font-size: 3em;
    padding-top: 1em;
    padding-left: 3em;
}
#splash-eat-img-col{
    text-align: center;
}
#splash-eat-img{
    height: 300px;
    width: 300px;
    /*margin-top:3em;*/
}
#splash-eat-text-col{
    text-align: left;
    padding-top: 1em;
    font-size: 2em;
    font-family:'Quicksand', sans-serif;
}



h3{
    font-family: 'Lato', Sans-Serif;
    font-size: 3em;
}

h6{
    font-family: 'Muli', Sans-Serif;
    font-size: 1.5em;
}


/*

.limit-1{
    width: 100%;
    height: 400px;
    max-height:400px;
    overflow:hidden;
}
.limit-1 img{
    max-width: 100%;
    max-height: 100%;
}

.limit-2{
    width: 400px;
    height: 400px;
    max-height:400px;
    overflow:hidden;
}
.limit-2 img{
    max-width: 100%;
    max-height: 100%;
}
*/


li{
    list-style-image: url('../../images/Bullet-green.png');
    /*list-style: none;*/
    font-family: 'Muli', Sans-Serif;
    font-size: 1.2em;
}
